/* 
.filtersContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #292929;
    color: #ffffff;
    width: 200px;
    border-radius: 10px;
  }
  
  .filterTitle {
    margin-bottom: 10px;
  }
  
  .filterInput,
  .filterSelect {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3a3a3a;
    color: #ffffff;
  }
  
  .filterButton {
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
  }
  
  
  .filterButtonFilter {
    background-color: #00cd07;
  }
  
  .filterButtonClear {
    background-color: #c50000;
  }
  
  .filterButton:hover {
    opacity: 0.8;
  }
  
  .productList {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .productCard {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3a3a3a;
    border-radius: 4px;
  }
  
  .noProductsMessage {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .pageContainer {
      flex-direction: column;
    }
    
    .filtersContainer {
      width: 100%;
    }
  }
   */

   /* styles.module.css */

/* styles.module.css */

/* styles.module.css */

/* Contenedor para los elementos Link */
.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estilo base para los elementos Link */
.linkItem {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 8px;
  background-color: #bd0000a8;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.2s;
  max-width: 300px; /* Establecer una anchura máxima para el diseño responsive */
  width: 100%; /* Para que ocupe el 100% del contenedor */
}

/* Estilo al pasar el mouse por encima */
.linkItem:hover {
  background-color: #02990a;
  transform: scale(1.05);
}
