.pageContainer {
  display: flex;
  height: 100vh;
}

.layout {
  max-width: auto;
  height: 100vh;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #292929;
  color: #ffffff;
  width: 200px;
}



.body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 8px;
}

.productList {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #1e1e1e;
  color: #ffffff;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    .layout {
      flex-direction: column;
    }
    
    .filtersContainer {
      width: 100%;
    }
    .sidebar {
      width: 100%;
    }
  }
   
  
}
